h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 500;
    color: black;
}

.projects-title{
    font-family: "Unica One", sans-serif;
    font-size: 50px;
}

.project-image {
    width: 80%;
    display: block;
    margin: 0 auto;
}
.nav-logo {
    width: 30px;
    height: auto;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: gray;
}

.content-width {
    max-width: 1000px;
    margin: 0 auto;
}