h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    color: black;
}




.about-text p {
    font-size: 20px;
}


body {
    font-family:Arial,sans-serif;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: gray;
}
